@import url('https://fonts.googleapis.com/css2?family=Baloo&family=Open+Sans:wght@600&family=Raleway:wght@500;700&family=Roboto&display=swap');
.voluntarios-container1{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}

.voluntarios-texto{
  padding: 10px;
  width: 40rem;
  font-size: 32px;
}

.voluntarios-principal{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.voluntarios-container-main {
  width: 40rem;

}
.voluntarios-titulo-card{
  text-align: center;
  font-family: 'Baloo', cursive;
}
.voluntarios-text{
  border: 1px solid #18CA99;
  border-radius: 10px;
  height: 85%;
  text-align: center;
}
.voluntarios-text p {
  font-size: 24px;
  padding-top: 50px;
  padding: 50px;
}
.voluntarios-botton{
  text-align: center;
  font-size: 32px;
  padding: 20px;
}
.voluntarios-container-button{
  display: flex;
 flex-wrap: wrap;
  justify-content: center;
  gap:20px;
  padding: 20px;
}
.voluntarios-style-button p{
  display: flex;

  align-items: center;
  justify-content: center;
  background-color: #18CA99;
  width: 240px;
  height: 64px;
  border-radius: 10px;
  color:white;
  font-size: 24px;



}
.voluntarios-style-button a{
  text-decoration: none;
}
.voluntarios-banner-botton{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1416px;
  max-width: 100%;
  margin: 0 auto;
  height: 100%;
  background-color: #21AA85;
  color: white;
  font-size: 36px;

}

 .voluntarios-button-doacao{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;


 }
 .voluntarios-button-doacao p{
display: flex;
justify-content: center;
align-items: center;
  width: 200px;
  height: 56px;
  text-align: center;
  border: 1px solid #18CA99;
  border-radius: 10px;


 }

