.depoimentos-principal{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.depoimentos-container-main *{
  width: 40rem;
}
.depoimentos-photos{
  text-align: center;
  margin-bottom: -58px;
  padding-top: 20px;
}
.depoimentos-text{
  border: 1px solid #18CA99;
  border-radius: 10px;
  height: 60vh;
  text-align: center;



}
.depoimentos-text p {

  padding-top: 50px;
  padding: 50px;
}


