@import url('https://fonts.googleapis.com/css2?family=Baloo&family=Open+Sans:wght@600&family=Raleway:wght@500;700&family=Roboto&display=swap');
.banner-voluntarios {
  font-family: 'Baloo', cursive;
  width: 100vw;
  height: 176px;
  background: rgba(33, 170, 133, 0.8);
  background: -webkit-linear-gradient(to right, rgba(33, 170, 133, 0.8), #0FE0AA);
  background: linear-gradient(to right, rgba(33, 170, 133, 0.8), #0FE0AA);
}

.banner-voluntarios p {
  font-size: 52px;
  color: #ffffff;
  text-align: end;
  padding-top: 100px;
  padding-right: 50px;
}
