.doacao-main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.doacao-main-texto{
width: 64%;
display: flex;
flex-direction: column;
font-size: 32px;

}
.doacoes-icones{
  display: flex;
  justify-content: center;
  gap:183px;
}
.doacoes-image{
  width: 456px;
  height: 680px;
  display: flex;
  justify-content: center;
}
.doacoes-texto-icones{
  display: flex;
  justify-content: center;
  gap:80px;
  margin-left: -20px;
}
